.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.background-site {
  background-color: rgba(147, 112, 216,90%);
}

.br{
  display: block;
  border-bottom: 1px solid rgb(44, 44, 44);
}

.textWhite{
  color:white;
}